.colorpallete {
  background-color: green;
  height: 1160px;
  margin: auto;
}
.coursesContainer{
    background-color: green;
    height: 1096px;
    width: 1200px;
    margin: auto;
    padding-top: 20px;
}
.courseBar{
    width: 1200px;
    height: 50px;
    background-color: white;
    margin: 20px auto;
    border-radius: 8px;
    display: flex;

}
.courseBarDetail{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 33px;
    margin: auto;
}
.coursetitle{
    color: #F29620;
    font-size: 20px;
    font-weight: 700;
}
.iconAlignment{
    display: flex;
    gap: 8px;
}
.padlock{
 color: green;
 border-color: transparent;
 background-color: transparent;
 width: 20px;
 height: 20px;
}
.courseDetailIcon{
    width: 20px;
    height: 20px;
}