* {
    padding: 0;
}
/* .userProfileNotification {
    background-color: #226d2c !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
} */
.notificationForm{
    padding: 0rem 6rem 10rem 6rem;
}
.formTitle{
 border-bottom: 2px solid #226D2C;
}
.formInfo{
    justify-content: center;
    width: 350px;
    font-weight: 500;
}
/* .userProfileNotificationContainer {
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 28px 60px 25px 61px;
    width: 350px;
    height: 80%;
    margin: 19px 170px 0 170px;
    border-radius: 10px;
    background-color: white;
    align-items: center;
} */
/* .userProfileNotificationTitle {
    font-family: "Nunito", sans-serif;
    font-weight: 550;
    color: #000000;
    text-decoration: none;
    align-items: center;
    margin-left: 20px;
    padding-bottom: 30px;
} */
.userProfileNotificationContent {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    align-items: center;
    border-radius: 10px;
}