.homeSubSection {
  font-family: NunitoSans;
}

.firstContainer,
.secondContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%; 
  margin-bottom: 20px;
  height: 40rem;
}

.imageSection,
.firstContentSection,
.secondContentSection {
  width: 40%;
}

.secondContainer {
  background-color: #3ec772;
  color: #fff;
}
.imageSection img {
  width: 100%;
  border-radius: 10px;
}

.firstContentSection,
.secondContentSection {
  padding: 0 30px;
  text-align: left;
}

.firstContentSection h3 {
  margin-bottom: 10px;
  color: #226d2c;
  font-size: 24px;
  text-align: center;
}

.secondContentSection h3 {
  margin-bottom: 10px;
  color: #000000;
  font-size: 24px;
  text-align: center;
}

@media (max-width: 768px) {
  .firstContainer,
  .secondContainer {
    flex-direction: row;
    padding: 0 10%; 
  }

  .imageSection,
  .firstContentSection,
  .secondContentSection {
    width: 40%;
  }

  .imageSection img {
    width: 100%;
  }

  .firstContentSection,
  .secondContentSection {
    padding: 0 20px;
    font-size: 12px;
  }

  .firstContentSection h3 {
    font-size: 16px;
  }

  .secondContentSection h3 {
    font-size: 16px;
  }
}