.communityHero {
  background-image: url("/public/communityHeroImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  /* height: 23.563rem; */
  padding-bottom: 10rem;
}
.heroTitle {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 87.3px;
  text-align: center
}


