.userProfileHeader {
    background-color: rgba(255, 255, 255, 0.95);
    max-width: 90rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    font-size: 18px;
  }
  .formNavbarLogo {
    height: 40px;
    width: 40px;
  }
  .userProfileHeaderDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .formNavbarLink {
    font-family: NunitoSans;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    text-align: right;
    margin-left: 20px;
  }
  .userProfileButton {
    width: 150px;
    height: 30px;
    font-family: NunitoSans;
    font-weight: 600;
    color: #226d2c;
    border-radius: 10px;
    text-decoration: none;
    list-style: none;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #226d2c;
  }
  .userProfileButton:hover {
    background-color: #3ec772;
  }
   .formNavbarLink:hover {
    text-decoration: underline; 
    transform: scale(0.9);
}