*{
  margin: 0;
}
.container{
    background-image: url("/public/loginBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.login-form {
  max-width: 90%;
  width: 27.5rem;
  padding: 1rem 7.375rem;
  border-radius: 20px;
 background-color: rgba(255, 255, 255, 0.95);
}
@media screen and (max-width: 768px) {
  .login-form {
  width: 90%;
  max-width: 100%;
  padding: 1.75rem 1rem;
  }
}
.welcomeBack{
  text-align:  center;
}

h3 {
  font-family: NunitoSans;
  font-size: 2rem;
  font-weight: bold;
}
.welcomeMsg {
  font-family: NunitoSans;
  font-size: 1.5rem;
  font-weight: 600;
  color: #226d2c;
}
.formContainer{
  width: 100%;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  padding-top: 1.5rem;
  font-size: 1rem;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #4285f4;
  border-radius: 9px;
}

.forgot-password {
  display: block;
  text-align: right;
  margin-top: 5px;
  font-size: 0.875rem;
  font-family: NunitoSans;
  color: #f29620;
}

.lockIcon {
  position: absolute;
  top: 55%;
  right: 250px;
  transform: translateY(-50%);
  color: #808080;
  width: 10.7px;
  height: 14px;
}
