.coreValuesSection {
    margin: 0 auto;
    padding: 50px 0;
    width: 100%;
    font-size: 18px;
    background-color: #3ec772;
    font-family: NunitoSans;
}
.coreValuesSectionTitle {
    margin: 0 0 30px;
    font-size: 30px;
    text-align: center;
}
.missionVisionValuesDiv {
      display: flex;
      justify-content: space-between;
      width: 90%;
      align-items: center;
  }
  
  .innerDiv {
      position: relative;
      margin-left: 7%;
      border: 1px solid #f29620;
      text-align: center;
      border-radius:30px;
      background-color: #fff;
      flex-grow: 1;
      height: 100%;
      /*box-shadow: 1px 14px 0px 0 #f8f8f8;*/
  }
  .innerDiv img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-90%, -150%);
  }
  
  .innerDiv h3 {
      font-size: 20px;
      text-align: left;
      margin-top: 50px !important;
      margin-bottom: 10px;
  }
  
  .innerDiv p {
      margin-top: 5px;
      text-align: left;
  }

  .innerDiv:last-child {
      margin-right: 0;
  }

  @media screen and (max-width: 768px) {
      .missionVisionValuesDiv {
        flex-direction: column;
        width: 100%;
      }
      
      .innerDiv {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        height: auto;
      }
    }