.coreValuesSection {
    margin: 0 auto;
    padding: 50px 0;
    width: 100%;
    font-size: 18px;
    background-color: #3ec772;
    font-family: NunitoSans;
}
.coreValuesSectionTitle {
    margin: 0 0 30px;
    font-size: 30px;
    text-align: center;
}
.missionVisionValuesDiv {
      display: flex;
      justify-content: space-between;
      width: 90%;
      align-items: center;
  }
  
  .innerDiv {
      position: relative;
      margin-left: 7%;
      border: 1px solid #f29620;
      text-align: center;
      border-radius:30px;
      background-color: #fff;
      flex-grow: 1;
      height: 100%;
      /*box-shadow: 1px 14px 0px 0 #f8f8f8;*/
  }
  .innerDiv img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-90%, -150%);
      max-width: 100%;
      width: 80%;
      height: auto;
  }
  
  .innerDiv h3 {
      font-size: 6px;
      text-align: left;
      margin-top: 50px !important;
      margin-bottom: 10px;
  }
  
  .innerDiv p {
      margin-top: 5px;
      text-align: left;
      font-size: 20px;
  }

  .innerDiv:last-child {
      margin-right: 0;
  }

  @media screen and (max-width: 768px) {
    .coreValuesSection {
    margin: 0 auto;
    padding: 50px 0;
    width: 100%;
    font-size: 18px;
    background-color: #3ec772;
    font-family: NunitoSans;
} 
    .missionVisionValuesDiv {
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
      }
      
      .innerDiv {
        max-width: 500px;
        width: 80%;
        margin-right: 0;
        margin-bottom: 20px;
        height: auto;
      }
      .innerDiv h3 {
      font-size: 20px;
      text-align: left;
      /* margin-top: 20px !important; */
      margin-bottom: 5px;
  }
   .innerDiv p {
      margin-top: 10px;
      text-align: left;
      font-size: 20px;
  }
   .innerDiv img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-90%, -150%);
      /* max-width: 100%; */
      width: 10%;
      height: 5%;
  }
  
    }
    @media screen and (max-width: 500px) {
    .innerDiv {
        margin-left: 0;
        width: 80%;
    }

    /* .innerDiv img {
        max-width: 100%;
        height: auto;
    } */

    .coreValuesSectionTitle {
        font-size: 24px;
    }
}
