.popup_container {
  display: flex;
  width: 28.938rem;
  height: 20.375rem;
  padding: 0.156rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 6px solid rgb(6, 59, 6);
  border-radius: 20px;
  background-color: #fff;
  position: fixed;
  margin: auto auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}
.backgroundHolder {
  background-color: #000;
  opacity: 0.8;
  position: fixed;
  width: 100vw;
  z-index: 8;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.cancelIcon {
  width: 1.667rem;
  height: 1.667rem;
  /* align-self: flex-end; */
  position: absolute;
  right: 10px;
  top: 10px;
}
.successIcon {
  width: 6.25rem;
  height: 6.25rem;
}
.popUpText {
  font-family: NunitoSans;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.popUpText2 {
  margin-top: 20px;
  font-family: NunitoSans;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}
