.homeContainer {
  padding: 40px 0;
  font-family: NunitoSans;
}

.homeFirstContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%; 
  margin-bottom: 20px;
}

.homeImageSection,
.homeFirstContentSection {
  width: 40%;
}
.homeImageSection img {
  width: 100%;
  border-radius: 10px;
}

.homeFirstContentSection {
  padding: 0 30px;
  text-align: center;
}

@media (min-width: 768px) {
  .homeFirstContainer {
    flex-direction: row;
    padding: 0 10%; 
  }

  .homeImageSection,
  .homeFirstContentSection {
    width: 40%;
  }

  .homeImageSection img {
    width: 100%;
  }

  .homeFirstContentSection {
    padding: 0 20px; 
  }
}