.homeNavBarmain-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  margin-left: 5%;
  margin-right: 10%;
  font-family: NunitoSans;
}
.homeNavBarLogoSection img {
  height: 50px;
  width: 50px;
}
.homeNavBarLinksSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
 font-size: 20px;
}

.homeNavBarLinks {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 15px;
}

.homeNavBarLinks:hover,
.homeNavBarLinks.active-link {
  color: #257830;
  text-decoration: underline;
  transform: scale(0.95);
}
.homeNavBarButtonSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.homeNavBar2ButtonSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accCreation {
  width: 150px;
  height: 40px;
  font-family: NunitoSans;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  list-style: none;
  background-color: #257830;
  color: #ffffff;
  border: none;
  align-content: center;
  text-align: center;
}

.accLogin {
  width: 100px;
  height: 40px;
  font-family: NunitoSans;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  list-style: none;
  background-color: #f29620;
  color: #ffffff;
  border: none;
  align-content: center;
  text-align: center;
}
.accProfile {
  width: 150px;
  height: 40px;
  font-family: NunitoSans;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  list-style: none;
  background-color: #257830;
  color: #ffffff;
  border: none;
  align-content: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .homeNavBarmain-container {
    padding: 0px 5px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .homeNavBarLogoSection {
      height: 30px;
  }
  .homeNavBarLinksSection {
    gap: 10px;
    font-size: 16px;
  }
  .homeNavBarButtonSection {
    gap: 10px;
  }
  .accCreation {
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
  .accLogin {
    width: 70px;
    height: 30px;
    font-size: 12px;
  }
}
.active-link {
    text-decoration: underline;  
    color: #257830;
  }
  @media screen and (max-width: 768px) {
    .agrowize-logo img {
        height: 30px;
    }

    .primary-filled-button,
    .secondary-filled-button {
        width: 100px;
        padding: 6px 10px;
        font-size: 12px; 
    }
    .frame {
     gap: 3px;
     width: 150px;
    }
    .button-text {
      font-size: 12px;
    }
    .button-text-2 {
      font-size: 12px;
      transition: transform 0.3s ease;
    }
    .frame-3 {
      gap: 10px;
      height: 20px;
    }
    .home {
      height: 20px;
      font-size: 14px;
    }
    .frame-4 {
      gap: 3px;
      width: 70px;
    }
    .about-us {
      height: 20px;
      font-size: 14px;
    }
    .frame-5 {
      gap: 3px;
      width: 80px;
    }
    .farm-mode {
      height: 20px;
      font-size: 14px;
    }
    .frame-6 {
      gap: 3px;
      width: 80px;
    }
    .resources {
      height: 20px;
      font-size: 14px;
    }
    .frame-7 {
      gap: 3px;
      width: 60px;
    }
    .articles {
      height: 20px;
      font-size: 14px;
    }
    .community {
      height: 20px;
      font-size: 14px;
    }
}


