.main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background: #ffffff;
  }
  .main-nav-menu {
    width: 100%;
    height: 100px;
    background: #fcfafa;
  }
  .agrowize-logo img{
    position:absolute;
    align-items: center;
    top: 25%;
    left: 5%;
    height: 50px;
    width: 50px;
  }
  .frame {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    position: absolute;
    width: 250px;
    height: 44px;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
  .primary-filled-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 140px;
    padding: 10px 16px 10px 16px;
    cursor: pointer;
    background: #257830;
    border: none;
    border-radius: 10px;
    text-decoration: none;
  }
  .button-text {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #ffffff;
   font-family: NunitoSans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.26px;
  }
  .secondary-filled-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 76px;
    padding: 10px 16px 10px 16px;
    cursor: pointer;
    background: #f29620;
    border: none;
    z-index: 175;
    border-radius: 10px;
    text-decoration: none;
  }
  .button-text-2 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #ffffff;
   font-family: NunitoSans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.26px;
    z-index: 176;
  }
  .frame-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 16px;
    position: absolute;
    height: 27px;
    top: 50%;
    left: 50%;
    padding-right: 10px;
    transform: translate(-61.38%, -48.15%);
  }
  .home {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 27px;
    color: #000000;
    font-family: NunitoSans;
    font-size: 18px;
    font-weight: 800;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
  }
  .frame-4 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 87px;
    text-decoration: none;
  }
  .about-us {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 27px;
    color: #000000;
   font-family: NunitoSans;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
  }
  .frame-5 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 103px;
    z-index: 165;
  }
  .farm-mode {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 27px;
    color: #000000;
   font-family: NunitoSans;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 166;
  }
  .frame-6 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 94px;
    z-index: 167;
    text-decoration: none;
  }
  .resources {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 27px;
    color: #000000;
   font-family: NunitoSans;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 168;
  }
  .frame-7 {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
    width: 71px;
  }
  .articles {
    position: relative;
    height: 27px;
    color: #000000;
   font-family: NunitoSans;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 170;
  }
  .community {
    position: relative;
    height: 27px;
    color: #000000;
   font-family: NunitoSans;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    margin-right: 10px;
    white-space: nowrap;
  }