.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    height: 100px;
  }
  
  .logo {
    /* max-width: 100%; */
    width: 200px;
    height: 100%;
    flex-shrink: 0;
  }
  
  .search-box {
    width: 193px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #E37576;
    color: white;
    padding: 20px;
  
  }
  .nav-bar {
    display: flex;
    text-decoration: none;
    gap: 20px;
  
  }
  nav :hover {
    color: blue;
  
  }