.footer {
    width: 100%;
    height: 100%;
    margin: auto 0;
    padding: 0;
}

.footerSection1 {
    width: 100%;
    height: 500px;
    margin: 158px 0 0;
    padding: 223px 94px 40px;
    background-color: #226d2c;
}

.footerSection2 {
    width: 80%;
    height: 360px;
    padding: 10px 20px;
    flex-direction: column;
    align-items: center;
    /* gap: 300px; */
    margin-left: 150px;
    margin-top: -500px;
    background-color: #f29620;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.footerSection2ContentWrapper {
    width: 50%;
    height: 322px;
    padding: 24px 120px;
    background-color: #f29620;
}

.footerSection2Content {
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 0 80px 207px;
    padding: 0px 120px 24px;
}

.footerTitle {
    width: 427px;
    height: 22px;
    flex-grow: 0;
    font-family: "Nunito", sans-serif;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    align-items: center;
    color: #fff;
}

.footerSubtitle {
    width: 720px;
    height: 22px;
    flex-grow: 0;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.subscribeLbl {
    display: flex;
    width: 480px;
    height: 38px;
    flex-grow: 0;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.footerInput {
    width: 300px;
    height: 36px;
    flex-grow: 0;
    align-items: right;
    gap: 4px;
    opacity: 0.95;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
    margin: 20px auto;
    border: none;
    text-align: center;
}