.userProfileHeader {
    background-color: rgba(255, 255, 255, 0.95);
    max-width: 90rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }
  .formNavbarLogo {
    height: 40px;
    width: 40px;
  }
  .formNavbarLink {
    font-family: "Nunito", sans-serif;
    font-weight: 550;
    color: #000000;
    text-decoration: none;
    text-align: right;
    margin-left: 20px;
  }
  .userProfileButton {
    width: 150px;
    height: 30px;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    color: #226d2c;
    border-radius: 10px;
    text-decoration: none;
    list-style: none;
    background-color: transparent;
    cursor: pointer;
  }