* {
  font-family: "Nunito Sans", sans-serif;
}
.VFContainer {
  max-width: 1440px;
  width: 100%;
  height: 498px;
  display: flex;
  gap: 25px;
}
.VFinnerContainer {
  width: 1206px;
  height: 266px;
  display: flex;
  margin: auto;
}
.vfImage {
  width: 399px;
  height: 266px;
  border-radius: 20px;
}
.detailsContainer {
  width: 783px;
  height: 147px;
  margin: auto;
}
.starRatingContainer {
  display: flex;
  /* justify-content: space-between; */
  gap: 450px;
  margin: 32px 0px;
}
.shareContainer,
.information {
  display: flex;
}
.infoIcon {
  width: 12px;
  height: 12px;
  margin: auto;
  margin-right: 5px;
}
.infoText {
  color: #226d2c;
  font-size: 20px;
}
.infoContainer:not(:last-child) {
  margin-right: 16px;
}
